:root{
    --green : #428146;
    --globe: url('./imgs/globe.svg');
    --esrog: url('./imgs/esrog.jpg');
    --field:  url("./imgs/field.jpg");
    --field2:  url("./imgs/field(2).jpg");
}
/*A*/
.admin-orders-links div{
    min-width: 100px;
    margin: 5px; padding: 5px;
    text-align: center;
    cursor: pointer;
}
.admin-orders-links div:hover, .admin-orders-links .selected{
    transition: 0.2s;
    border-bottom:2px solid var(--green) ;
    color: var(--green);
}
.alerts{
    position: fixed;
    width: 100vw; height: 100vh;
    top: 0; left: 0;
    background-color: #5a5a5abd;
    z-index: 100;
}
.alerts > div:first-of-type{
    min-height: 100%;
    max-height: fit-content;
    overflow-y: auto;
}
.alerts .alert{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
/*B*/
body, html{
    margin: 0; padding: 0;
    width: 100vw; 
    overflow-x: hidden;
}
.btn-green{
    color: #fff;
    background-color: #428146;
    border-color: #428146;   
}
/*C*/
.carousel-item{
    position: relative;
    top: calc((100vh - 70px) / 2); left: 50%;
    width: 50%; height: 80%;
    color: white; text-align: center;
    transform: translate(-50%, -50%);
    font-size: x-large; font-weight: 800;
}
.checkbox-div input{
    outline: none;
    height: 20px;
    width: 40px;
    border-radius: 50px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox-div input:checked{
    background: #28a745;
}
.checkbox-div input:before{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 20px;
    background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkbox:checked:before{
    left: 20px;
}
/*E*/

/*F*/
footer{
    min-height: 70px;
    position: relative;
    margin-top: 70px;
    z-index: 1;
    box-shadow: 2px 2px 10px black;
}
/*G*/
.globe{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-image: var(--globe);
    height: 100vh;
    min-height: 100vh;
    position: relative;
    top:70px;
}
.globe .row{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.globe .col{
    max-height: 400px;
    min-height: 200px;
    max-width: 300px;
    min-width: 200px;
}
/*H*/
.hidden{
    display: none;
    transition: 5s;
}
.home-h1{
    font-size: xxx-large;
    font-weight: 800;
    max-width: 600px;   
}
/*I*/
.itsNotTishrei{
    position: fixed; width: 60%;
    height: 50%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 2px 2px 3px black;
    z-index: 10;
}
.itsNotTishrei h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: var(--esrog) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}
.itsNotTishrei h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
.itsNotTishrei p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}
.item-options, .items-popup{
    position: fixed; width: 60%;
    height: 60%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 2px 2px 3px black;
    z-index: 10;
    background-color: white;

}
/*L*/
.loader{
    background:#0046d5;
    width: 0%;height: 4px;
    position: relative;
    animation: load 5s;
    border-radius: 20px;
}
/*P*/
.profile-form{
    box-shadow: 2px 2px 4px black;
    margin-right: 15px;
    max-width: 600px;
    position: relative;
    left: 50%; transform: translateX(-50%);
    border-left: 3px solid #28a745;
}
.profile-form legend{
    width: 80px; height: 80px;
    background-color:#28a745;
    color: white; text-align: center;
    border-radius: 50%;
}
.profile-form legend i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.pointer{ cursor: pointer; }
.parallax{
    min-height: calc(100vh - 70px); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:70px;
    z-index: 1;
}
.parallax-sm{
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:70px;
    z-index: 1;
}
.prlx-1{ background-image: var(--esrog); }
.prlx-2{ background-image: var(--field) }
.prlx-3{ background-image: var(--field2) }
.parallax .h-100{
    z-index: 2;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
}
.parallax-sm .h-100{
    z-index: 2;
    min-height: 200px;
    max-height: 200px;
}
.parallax > div:first-of-type, .parallax-sm > div:first-of-type{ 
    background-color: rgba(71, 71, 71, 0.7);
}
.parallax div h1{
    padding-top: calc(100vh - 70px / 2);
    transform: translateY(-60%);
    font-size: xxx-large;
    font-weight: 800;
    max-width: 600px;
}
.parallax-sm div h1{
    padding-top: 50px;
    font-size: xxx-large;
    font-weight: 800;
    max-width: 600px;
}
.parallax div .btns{
    position: absolute;
    top: 55vh;
}
/*R*/
.register-form{
    background-color: #428146;
    width: 100%;
    height: 100vh;
}
.register-form form{
    width: 40%;
}
/*S*/
.spinner{
    position: fixed;
    width: 100vw; height: 100vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}
.spinner .fa-spin{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sidebar{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(59, 59, 59, 0.99);
    overflow-x: hidden;
    width: 30%; z-index: 10;
    transition: 0.5s;
}
.sidebar *{
    transition: 0.3s;
    color: #818181;
    font-weight:lighter;
    text-decoration: none !important;
}
.sidebar .hover:hover{
    color: #f1f1f1;
    cursor: pointer;
}
.sidebar-content{
    height: 70%;
}
.sidebar.hide{display: none; }
.sidebar.show{display: block; animation: moveRight 3s;}
@keyframes moveRight {
    0% {transform: translateX(-100%);}
    20% {transform: translateX(-1%);}
    40% {transform: translateX(-10%);}
    100% {transform: translateX(0%);}
}

.small{ font-size: 70% !important;}
.shop, .cart{
    min-height: calc(100vh - 70px);
    position: relative;
    top:70px;
}
@media only screen and (min-width: 1200px){
    .sidebar{
        width: 25%;
    }
    .itsNotTishrei, .item-options, .items-popup{ width: 40%;}
}

@media only screen and (max-width: 850px){
    .register-form form{
        width: 70%;
    }
    .sidebar{
        width: 50%;
    }
    #bh{ display: none;}
    .itsNotTishrei, .item-options, .items-popup{ width: 95%;}
    .itsNotTishrei h1{ font-size: 100px;}
}

@media only screen and (max-width: 600px){
    .register-form form{
        width: 95%;
    }
    .sidebar{
        width: 80%;
    }
    .parallax div h1{
        font-size:40px;
    }
    .carousel-item{
        font-size: large; font-weight: 300;
    }
    .errors .alert{
        width: 70%;
    }
    .items-table tr{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .items-table td{
        border: none !important;
    }
    .items-table th{ display: none; }
    .admin-orders-links div{
        min-width: calc(600px / 4);
    }
    .sidebar * {color: #f1f1f1;}
}

@media only screen and (max-width: 350px){
    .sidebar{
        width: 93%;
    }
    .itsNotTishrei h1{ font-size: 85px;}
    .navbar-header{display: none;}
    .parallax div h1, .parallax-sm div h1{
        font-size:35px;
    }
    .carousel-item{
        font-size: medium; font-weight: 100;
    }
    .errors .alert{
        width: 99%;
    }
}

@keyframes load {
    from {width: 0%;}
    to {width: 100%;}
}